body{
    margin: 0;
}

nav a{
    display: block;
    text-decoration: none;
    font-size: 14pt;
    line-height: 60px;
    color: #ffffff;
    padding: 0;
}
nav li:hover{
    background-color: #FFFFFF;
}

nav li:hover a {
    color: #ff5a3d;
}
nav li {
    float:left;
    list-style: none;
    padding: 0px 10px;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ff5a3d;
    z-index: 3;
    opacity: 0.87;
    
}
#tastomenu{
    display: none;
}

#logo {
    position: absolute;
    font-size: 20pt;
    padding: 0 0 0 20px;
}
#navsx {
    float:left;
    width: 30%;
    height: 60px;
}
#navsx ul{
    float: right;    
    padding: 0 0 0 0;
    position: relative;
    right: 30%;
    margin:0;
}
#searchimg{
    float: right;
    padding: 15px;    
}
#searchimg:hover{
    filter:invert(70%);
    cursor: pointer;
}
#navdx {
    float:right;
    width: 30%;
    height: 60px;    
}
#navdx ul{
    float:right;    
    margin:0;
    padding:0;
    padding-right: 20px;
}
#contenuto_pagina{
    width: 90%;
    clear: both;
    margin: 0 auto;
    padding:60px 10px;    
}
#contenuto_pagina::after {      /* serve per risolvere il problema del contenitore che racchiude elementi flottati */
  content: "";
  display: block;
  clear: both;
}
#contenuto_centrale {
    position: relative;
    width: 80%;    
    float:left;
}
#contenuto_centrale iframe{
    clear: both;
    display: block;
}
#contenuto_centrale>table tr{
    margin: 0.5em 0;
    background-color: #ffff70;
}
#contenuto_centrale>table td{
    border-left: solid red 6px;    
    padding: 0.5em;
}
#contenuto_centrale>table td a{
    text-decoration: none;
}
.ev_li{
    position: relative;
    float:left;
    padding: 0;
    width: 150px;
    height: 270px;
    margin: 10px;
    list-style: none;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 0 8px 2px #707070;
}
.ev_li a {
    text-decoration: none;
    display: block;
}
.visualizza_sconto{
    background-color: #ff4a3d;
    position: absolute;
    top:0;
    left:0;
    color: #fff;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
    opacity: 0.8;
}
.ev_sfondo {
    overflow: hidden;
    opacity: 0.95;
    position: absolute;
    bottom: 100%;       
    font-size: 14pt;
    z-index: 1;    
    width: 100%;    
    height: 0;
    background-color: #ff5a3d;     
    transition: 0.6s ease;    
}
.descev{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 50%;
    margin: 0 auto;    
    text-align: center;
    color: #FFFFFF;
}
.przev{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 50%;
    margin: 0 auto;    
    text-align: center;
    color: #FFFFFF;
}
.titoloev {
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 13pt;
    width: 100%;
    height: 40px;
    color: #700000;
    text-align: center;
    font-weight: 700;
}

.titoloev p{
    position: relative;
    margin: 0;
    padding: 0;
    top:50%;
    transform:translate(0,-50%);
}

.ev_li img{
    display: block;
    width: 150px; 
    height: 230px;
}
.ev_li:hover .ev_sfondo{
    height:100%;
    bottom:0;
}
@keyframes sfondo_sconti {
    0%   {background-color: #FFFF00;}
    25%  {background-color: #FF5500;}
    50%  {background-color: #00FF00;}
    100% {background-color: #FFFFFF; }
}
#listasconto, .listaeventi{
    margin: 0;
    padding: 0;
}
.sconto_li{
    height: 120px;
    width: 200px;
    position: relative;
    float:left;
    padding: 0;
    margin: 10px;
    list-style: none;
    background: #FFFFFF;
    
    animation-name: sfondo_sconti;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0.8;
    border-radius: 4px;
}
.sconto_li.titoloev {
    text-align:left;
}
.sconto_li img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    width: 35%;
    float: right;
    padding: 7px 7px 7px 3px;
}
.prezzi_sconto{
    width: 60%;
    float: left;
    padding: 7px 3px 7px 7px;
}
.sconto_li a {
    text-decoration: none;
    color: #700000;
}
.old_price{
    display: block;
    text-decoration: line-through;
    font-size: 11pt;
}
.new_price{
    display: block;
    font-size: 13pt;
    font-weight: 600;
}
.sconto{
    display: block;
    font-size: 12pt;
}

#contenuto_laterale {
    min-width: 220px;
    width: 20%;
    position: fixed;
    top: 60px;
    right: 0;
    overflow: scroll;
    height: 100%;
    padding-bottom: 40px;
}
#SingoloEvento{
    position: relative;
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 14pt;
}
#SingoloEvento img{
    float: left;
    margin: 0 20px 20px 20px;
    width: 300px;
    height: 390px;
    border: solid 10px #DDDDDD;
    box-shadow: 0 0 10px 3px #707070;
}
#info_biglietti{
    position: absolute;
    top:0;
    right: 0;
    border-radius: 3px;
    background-color:#cfef3F;
    padding: 10px;
}
.partecipazione_div{
    position: relative;
    width: 200px;
    height: 50px;
    border: solid 1px #AAAAAA;
    border-radius: 5px;
}
.numero_partecipazione{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18pt;
}
.tasto_partecipazione{
    position: absolute;
    left: 0;    
    width: 150px;
    height: 50px;
    background-color: #91BE3F;
    border-radius: 3px;    
}
.tasto_partecipazione a{
    width: 150px;
    color: #fff;
    height: 50px;
    text-decoration: none;
    display: block;
    line-height: 50px;
    text-align: center;
}
.tasto_partecipazione div{
    width: 150px;
    color: #fff;
    height: 50px;
    text-decoration: none;
    display: block;
    background-color: #cbcbcb;
    line-height: 50px;
    text-align: center;
}
.tasto_partecipazione a:hover{
    background-color: #70992F;
}
#SingolaOrganizzazione{
    position: relative;
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 14pt;
}
#SingolaOrganizzazione img{
    display: block;
    width: 50%;
    margin: 0 auto;
}
#listaorg{
    list-style-type: none;
}
#listaorg::after{
    content: "";
    clear: both;
    display: block;
}
.org_li a{
    text-decoration: none;
}
.org_nome{
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    color: #000000;
}
.org_li{
    float:left;
    background-color: #DDDDDD;
    margin: 10px;
    padding: 4px;
    box-shadow: 0 0 5px 3px #707070;
}
.org_logo{
    width: 250px;
    height: 300px;
}
.org_logo img{
    width: 250px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.ordine{
    float: left;
    padding: 20px;
    border: solid 2px #700000;
    border-radius: 10px;
    margin: 10px;
    width: 20em;
}
/*stile dei paginator*/
.pagination{
    margin: 0 0 40px 0;
    position: fixed;
    bottom:0;
    right: 50%;
    transform: translate(50%,0);
    background-color: #ff5a3d;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 4;
    padding: 10px;
    color: #ffffff;
    opacity: 0.87;
}
.pagination a {
    text-decoration: none;
    color: #ffdd50;
}
.pagination a:hover{
    color: #ccff50;
}
#contenuto_laterale .pagination{
    margin: 0 20px 40px 0;
    position: fixed;
    bottom:0;
    right: 0;
    transform: translate(0,0);
    background-color: #700000;
    box-shadow: 0 -4px 5px #707070;
    z-index: 4;
    padding: 10px;
    color: #ffffff;
}
/*fine stile dei paginator*/

/*div contenitore per la form filtro*/
#contenuto_top{
    padding: 1em;
    width: 100%;
}
#contenuto_top::after{
    content:"";
    clear: both;
    display: block;
}
#contenuto_top .elemento{
    float:left;
    padding: 0 5px;
}
/*FINE  div contenitore per la form filtro*/

.messaggio_positivo{
    background-color: #00DD00;
    color: #fff;
    font-size: 22pt;
    padding: 20px;
    text-align: center;
}
.messaggio_importante{
    color:#FF0000;
    font-size: 22pt;
    font-weight: 700;
    padding: 20px;
}
.tasto_cancella{
    position: relative;    
    display: inline-block;
    background-color: #DD2020;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
}
.tasto_acquisto{
    position: absolute;
    right: 0;    
    width: 100px;
    height: 50px;
    background-color: #91df3F;
    border-radius: 3px;
    opacity: 0.8;
    
}
.tasto_acquisto a{
    width: 100px;
    color: #fff;
    height: 50px;
    text-decoration: none;
    display: block;
    line-height: 50px;
    text-align: center;
}
.tasto_acquisto:hover{
    background-color: #50bb2F;
}
form .errors{
    background-color: #ff77cc;
    color:#ffffff;
    opacity: 0.8;
}
form select {
    width: 12em;
    height: 24px;
}
form input[type=text]{
    height: 19px;
    width: 12em;
}
form input[type=password]{
    height: 19px;
    width: 12em;
}
form td {
    padding:5px;
}
form ul{
    margin:0;
    padding: 2px 2px 2px 40px;
}
.formerror{
    text-align: center;
    color: #ffffff;
    background-color: #DD0000;
    padding: 10px 0;
}
form input[type=submit]{
    color: #fff;
    height: 43px;
    padding: 0 20px;
    background-color: #91df3F;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
}
form input[type=submit]:hover{
    background-color: #50bb2F;
}
#totale_ordine{
    display: inline;
}
/*fine form*/

#footer {
    position:  fixed;
    bottom:0;
    clear:both;
    background-color: #ff5a3d;
    height: 40px;
    width: 100%;
    z-index: 3;
    opacity: 0.87;
    
}
footer ul {
    margin: 0;
}
footer ul li {
    float: left;
    padding:0 10px;
    list-style: none;
}
footer a{
    text-decoration: none;
    font-size: 12pt;
    line-height: 40px;
    color: #ffffff;
}
footer a:hover{
    color: #ccff50;
}
.freccia_destra{
    right:0;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
}

.freccia_destra img{
    width:50px;
   opacity: 0.8;
}
.freccia_sinistra img:hover,.freccia_destra img:hover{
    cursor: pointer;
    width: 60px;
}
.freccia_sinistra {
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    transition:0.5s ease;
}
.freccia_sinistra img{
    width:50px;
    opacity: 0.8;
   
}
.contenitore_categoria::after{
    content: "";
    display: block;
    clear: both;
}
.contenitore_categoria::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #505050;
    opacity: 0.7;
}
.contenitore_categoria {
    position: relative;    
    margin: 1em 0;
    padding: 1em;
}
.contenitore_categoria>a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    color: #DDDDDD;
    font-size: 20pt;
}
.lista_categoria{
    margin: 0 80px;
}